{{#each this}}
<div class="categories-group">
    {{!-- {{#each this}} --}}
    <!-- моя категория -->
    <div class="categories">
        <div class="categories-title">
            <a class="icon-left">
                <svg class="icon-left-svg" width="30" height="30">
                    <use href="./images/sprite.svg#icon-elem-left"></use>
                </svg></a>

            <h2 class="section-title">{{category}}</h2>

            <a class="section-text" href="">Дивитися всі</a>
            <a class="icon-right">
                <svg class="icon-right-svg" width="30" height="30">
                    <use href="./images/sprite.svg#icon-elem-right"></use>
                </svg></a>
        </div>
        <div data-atibute="prev-card" class="gallery">
            {{>./product-cards}}
        </div>
    </div>
    {{!-- {{/each}} --}}



</div>
</div>
<div>
    <button class="button-next-pages button-is-hiden">1</button>
    <button class="button-next-page button-is-hiden">2</button>
    <button class="button-next-pages button-is-hiden">3</button>
</div>
<div data-create-ad-modal-open class="icon-add-position">
    <a class="icon-add"><svg class="icon-add-svg" width="14" height="14">
            <use href="./images/sprite.svg#icon-add-img"></use>
        </svg></a>
</div>