<ul class="product-card-group">
    {{>./product-cards}}
</ul>

<div class="pagination-div-one-category display-none">
    <button data-atribute="one-page" class="button-next-pages button-is-hiden">1</button>
    <button data-atribute="two-page" class="button-next-pages button-is-hiden">2</button>
    <button data-atribute="three-page" class="button-next-pages button-is-hiden">3</button>
</div>