{{!-- <div class="categories-group"> --}}

    <!-- моя категория -->
    {{!-- <div class="categories"> --}}
        {{#each this}}
        <div class="categories-title">
            <a data-action="prev-card" class="icon-left arrow prev">
                <svg class="icon-left-svg" width="30" height="30">
                    <use href="./images/sprite.svg#icon-elem-left"></use>
                </svg></a>
            <h2 class="section-title">{{this}}</h2>
            <a class="section-text" href="">Дивитися всі</a>
            <a data-action="next-card" class="icon-right arrow next">
                <svg class="icon-right-svg" width="30" height="30">
                    <use href="./images/sprite.svg#icon-elem-right"></use>
                </svg></a>
        </div>
        {{/each}}
        {{!-- <div data-action="mark-card" class="gallery"> --}}
            {{!-- {{>./product-cards}} --}}
            {{!-- </div> --}}
        {{!--
    </div> --}}