<div>
    <h3>Наименование</h3>
    <p>Код товара</p>
    <div>
        <img src="./images/Rectangle 7.jpg" alt="">
    </div>
    <div>
        <p>Цена</p>
        <button>Информация о продавце</button>
        <P>В избранное
            <i class="material-icons">favorite_border</i>
        </P>
        <P>Поделиться
            <i class="material-icons">device_hub</i>
        </P>
        <P>Описание</P>
        <p>Описание товара</p>
    </div>

</div>