<ul class="product-card-group images">
    {{#each this}}
    <li class="product-card__my">
        <div class="product-image">
            <img class="product-img" src="{{imageUrls}}" alt="" />
            <div class="product-overlay">
                <button class="product-card-icon product-card-icon-favorite">
                    <svg class="icon" width="16" height="16">
                        <use href="{./images/sprite.svg#icon-favorite-icon}"></use>
                    </svg>
                </button>
                <button class="product-card-icon product-card-icon-fullscreen">
                    <svg class="icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-fullscreen-icon"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="product-content">
            <h3 class="product-name">{{free.title}}</h3>
            <p class="product-price">{{price}} грн</p>
        </div>
    </li>
    {{/each}}
</ul>