{{>../templates/product-cards.hbs}}


<div>
    <button class="button-next-pages">1</button>
    <button class="button-next-pages">2</button>
    <button class="button-next-pages">3</button>
</div>
<div data-create-ad-modal-open class="icon-add-position">
    <a class="icon-add"><svg class="icon-add-svg" width="14" height="14">
            <use href="./images/sprite.svg#icon-add-img"></use>
        </svg></a>
</div>