<!-- Модалка авторизации -->
<div class="auth-backdrop">
    <div class="auth-modal">
        <button class="auth-close-button"></button>
        <h2 class="auth-modal-title">Ви можете авторизуватися за допомогою Googlt Account:</h2>
        <button class="google-auth">
            <svg class="google-auth-icon" width="18px" height="18px">
            <use href="./img/google-icon.svg#google"></use>
            </svg>
            <p>Google</p>
        </button>
        <h2 class="auth-modal-title">Або зайти за допомогою імейлу і пароля, попередньо зареєструвавшись:</h2>
        <form method="post" class="auth-form">
            <input type="email" name="email" class="auth-input" id="userEmail" placeholder="E-mail">
            <input type="password" name="password" class="auth-input" id="userPassword" placeholder="Password">
            <div class="auth-button">
                <button type="submit" class="auth-modal-login">Увійти</button>
                <button type="submit" class="auth-modal-register">Зареєструватись</button>
            </div>
        </form>
    </div>
</div>