<!-- FM-25 Сверстать контейнер главной страницы (одинаковый и для главной страницы, и для отображения конкретной категории товаров): мобилка, планшет, десктоп -->

<section class="section">
    <div class="container">
        <div class="categories">
            <div class="categories-title">
                <h2 class="section-title">РОЗПРОДАЖ РІЗНЕ</h2>
                <p class="section-text">Дивитися всі</p>
            </div>
            <ul class="product-card-group">
                <li class="product-card">
                    <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card">
                    <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                </li>
                <li class="product-card">
                    <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
                <li class="product-card">
                    <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование карточки</h3>
                        <p class="product-price">Цена грн</p>
                    </div>
            </ul>

        </div>
</section>

    