<!-- FM-25 Сверстать контейнер главной страницы (одинаковый и для главной страницы, и для отображения конкретной категории товаров): мобилка, планшет, десктоп -->


<h1>test</h1>

    <section>
        <ul>
            <h2 class="title-h2-test">РОЗПРОДАЖ РІЗНЕ</h2>
            <p>Дивитися всі</p>
            <ul>
                <li class="product-card">
                    <img class="product-img" src="./images/rectangle-7.jpg" alt="" />
                    <div class="product-content">
                        <h3 class="product-name">Наименование</h3>
                        <p class="product-price">Цена</p>
                    </div>
                </li>
            </ul>
            <li>кароточка 2</li>
            <li>кароточка 3</li>
            <li>кароточка 4</li>
        </ul>
        <ul>
            <h2>ВІДПОЧИНОК І СПОРТ</h2>
            <h2>Дивитися всі</h2>
            <li>кароточка 1</li>
            <li>кароточка 2</li>
            <li>кароточка 3</li>
            <li>кароточка 4</li>
        </ul>
        <ul>
            <h2>ВІДДАМ БЕЗКОШТОВНО</h2>
            <h2>Дивитися всі</h2>
            <li>кароточка 1</li>
            <li>кароточка 2</li>
            <li>кароточка 3</li>
            <li>кароточка 4</li>
        </ul>
        <ul>
            <h2>Бізнес та послуги</h2>
            <h2>Дивитися всі</h2>
            <li>кароточка 1</li>
            <li>кароточка 2</li>
            <li>кароточка 3</li>
            <li>кароточка 4</li>
        </ul>
    
    
    
    </section>