.section {
  background-color: #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;
  border: solid 1px red;
}

.main-container {
  border: solid 1px blue;

  margin-left: auto;
  margin-right: auto;
  max-width: $mobile;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding-left: 22px;
    padding-right: 22px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.categories-title {
  display: flex;

  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 3px;
  padding-bottom: 2px;
  @media screen and (max-width: $before-tablet) {
    min-width: 300px;
  }
  @media screen and (min-width: $tablet) {
    max-width: 725px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 1000px;
  }

  border: rebeccapurple 1px solid;
}

.section-title {
  font-size: 12px;
  font-style: bold;
  line-height: 1.21;
  margin: 0px;
  min-width: 160px;
  border: solid 1px rebeccapurple;
}

.section-text {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.21;

  margin: 0px;
  // margin-top: 10px;
  margin-left: 15px;
  color: $accent-orange;

  min-width: 100px;
  border: solid 1px rebeccapurple;
}

.product-card-group {
  .product-card {
    list-style: none;
  }

  padding: 0px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.icon-elem-left {
  // border: solid 1px aqua;

  // @media screen and (max-width: $before-mobile) {
  //   display: none;
  // }
  // @media screen and (min-width: $tablet) {
  //   margin-right: 20px;
  // }
  // @media screen and (min-width: $desktop) {
  //   margin-right: 20px;
  // }
}

.icon-elem-right {
  // border: solid 1px aqua;
  // margin-left: 300px;
  // @media screen and (max-width: $before-mobile) {
  //   display: none;
  // }
  // @media screen and (min-width: $tablet) {
  //   margin-left: 385px;
  // }
  // @media screen and (min-width: $desktop) {
  //   margin-left: 905px;
  // }
}

.button-left,
.button-right {
  @media screen and (max-width: $before-tablet) {
    display: none;
  }
}

.button-right {
  @media screen and (max-width: $before-mobile) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 370px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 905px;
  }
}

.button-left {
  @media screen and (max-width: $before-mobile) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 20px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 20px;
  }
}
